{% extends "base.html"  %}

{% block title %}
    Files - {{ block.super }}
{% endblock %}

{% block content %}
<div class="content">
{% if files %}
    <table class="peopletable">
    <tr class="peopletable">
        <th class="peopletable ttitle">Name</th>
        <th class="peopletable ttitle">Added on</th>
    </tr>
    {% for one in files %}
    <tr class="peopletable">
        <th class="peopletable">{{ one.name }}</th>
        <th class="peopletable">{{one.added_on}}</th>
        <th class="peopletable"><a class="greenlink" href='{{ one.getdownloadurl}}'>Download</a></th>
        <th class="peopletable"><a class="redlink" href='{{ one.getdeletelink}}'>Delete</a></th>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No files are available.</p>
{% endif %}
</div>
<div class="content">
    <a class="link" href="/files/add"> Add some files</a>
</div>
{% endblock %}