{% extends "base.html"  %}

{% block title %}
    Tasks - {{ block.super }}
{% endblock %}

{% block content %}
<div class="content">
{% if people %}
    <table class="peopletable">
    <tr class="peopletable">
        <th class="peopletable ttitle">Name</th>
        <th class="peopletable ttitle">Rank</th>
    </tr>
    {% for one in people %}
    <tr class="peopletable">
        <th class="peopletable">{{ one.name }}</th>
        <th class="peopletable">{{one.rang}}</th>
        <th class="peopletable"><a class="redlink" href='{{ one.getdeletelink}}'>Delete</a></th>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No people are available.</p>
{% endif %}
</div>
<div class="content">
    <a class="link" href="/people/add"> Add some team users </a>
</div>
{% endblock %}