{% extends "base.html"  %}

{% block title %}
    Tasks - {{ block.super }}
{% endblock %}

{% block content %}
<div class="content">
{% if tasks %}
    <table class="peopletable">
    <tr class="peopletable">
        <th class="peopletable">Id</th>
        <th class="peopletable">Name</th>
        <th class="peopletable">User</th>
        <th class="peopletable">Date</th>
    </tr>
    {% for one in tasks %}
    <tr class="peopletable">
        <th class="peopletable">{{ one.id }}</th>
        <th class="peopletable">{{ one.name }}</th>
        <th class="peopletable">{{ one.user }}</th>
        <th class="peopletable">{{ one.date }}</th>
        <th class="peopletable"><a class="link" href='{{ one.getdeletelink }}'>Complete</th>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No tasks are available.</p>
{% endif %}
<a class="link" href="add"> Add some tasks for team users </a>
</div>
{% endblock %}

