{% extends "base.html"  %}

{% block title %}
    Tasks Completed - {{ block.super }}
{% endblock %}

{% block content %}
{% if tasks %}
<div class="content">
    <a class="{{ status }}" style="width: 46.6%" href="/tasks/stats">Statistics</a>
    <a class="link" style="width: 46.3%" href="/tasks">Tasks Home</a>
</div>
{% endif %}
<div class="content">
{% if tasks %}
    <table class="peopletable">
    <tr class="peopletable">
        <th class="peopletable ttitle">Name</th>
        <th class="peopletable ttitle">User</th>
        <th class="peopletable ttitle">Deadline</th>
        <th class="peopletable ttitle">Completed on</th>
    </tr>
    {% for one in tasks %}
    <tr class="peopletable">
        <th class="peopletable">{{ one.name }}</th>
        <th class="peopletable">{{ one.user }}</th>
        <th class="peopletable">{{ one.date }}</th>
        <th class="peopletable">{{ one.completed_on }}</th>
        <th class="peopletable"><a class="redlink" href='{{ one.getdeletelink }}'>Delete</a></th>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No tasks are completed.</p>
{% endif %}
</div>
{% endblock %}

