@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: url("background.png");
}

.navbar{
    font-size: large;
    background-color: rgba(255, 255, 255, 0.7);
    display: block;
    padding: 1%;
}

.navlink{
    color: #000;
    text-decoration: none;
    transition: 1000ms;
    padding: 1%;
}

.navlink:hover{
    background-color: black;
    color: #ffffff;
}

.logout{
    color: #ff0008;
    text-decoration: none;
    transition: 1000ms;
    padding: 1%;
}

.logout:hover{
    background-color: #ff0008;
    color: #ffffff;
}

.content{
    margin-top: 1%;
    background-color: rgba(255, 255, 255, 0.7);
    display: block;
    padding: 1%;
}

.content{
    color: #434343;
    text-decoration: none;
}

.link{
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
}

.link:link, .link:visited {
    background-color: #0000ff;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.link:hover, .link:active {
    background-color: #0000a2;
}

.redlink{
    border-radius: 5px;
    width: 87%;
}

.redlink:link, .redlink:visited {
    background-color: #ff0808;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.redlink:hover, .redlink:active {
    background-color: #a2050b;
}


.greenlink{
    border-radius: 5px;
    width: 87%;
}

.greenlink:link, .greenlink:visited {
    background-color: #139107;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.greenlink:hover, .greenlink:active {
    background-color: #0c5c04;
}

th{
    text-align: left;
}

input[type=text], select, input[type=password], input[type=date], input[type=email], input[type=url], textarea, 
#id_url{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #485eb7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 500ms;
}

input[type=submit]:hover {
    background-color: #434343;
}

.forminput{
    width: 89%;
}

table.peopletable, td.peopletable, th.peopletable {
    /*border-bottom: 5px solid #5d61bf;*/
    text-align: left;
}

table.peopletable {
    border-collapse: collapse;
    width: 100%;
}

th.peopletable, td.peopletable {
    padding: 15px;
}

.ttitle{
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

tb{
    width: 50%;
}

.dead{
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
}

.desctitle{
    border-top-width: 7px;
    border-top-style: solid;
    border-top-color: #ff1f7f;
    border-right-width: 7px;
    border-right-style: solid;
    border-right-color: #ffa800;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: #28c4b9;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: #0000ff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding:10px;
}
